<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <navbar class="fixed right-0 bg-blue-600 w-100">
        <ul class="flex justify-end">
            <li><a href="#home">Home</a></li>
            <li><a href="#project">My Project</a></li>
            <li><a href="#aboutme">About Me</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </navbar>

    <section class="h-screen bg-blue-900" id="home">
        Home
    </section>

    <section class="h-screen bg-blue-900" id="project">
        PROJECT
    </section>
    <section class="h-screen bg-blue-900" id="aboutme">
        ABOUT
    </section>
    <section class="h-screen bg-blue-900" id="contact">
        CONTACT
    </section>
    
</body>
</html>